{% extends "base.html" %}

{% block title %}Observations - Fire Server{% endblock %}

{% block content %}
<p style="font-size: 12px; font-family: verdana; line-height: 1.4em; margin-bottom: 10px;">The query returned {{ total }} resources.</p>
<div class="button-group">
    <button class="btn btn-warning" onclick="deleteSelected(event)">Delete selected</button>
    <button class="btn btn-danger" onclick="deleteAll(event)">Delete all</button>
    <a href="{{ current_url }}&_format=json" download="Bundle.json" class="link">JSON</a>
    <a href="{{ current_url }}&_format=xml" download="Bundle.xml" class="link">XML</a>
</div>

{% if observations.len() > 0 %}
<table class="grid">
    <colgroup>
        <col style="width: 30px;">
        <col style="width: 100px;">
        <col style="width: 280px;">
        <col style="width: 50px;">
        <col style="width: 250px;">
    </colgroup>
    <thead>
        <tr>
            <th><input type='checkbox' onclick='toggleAll(event)' id='toggleAll'></input></th>
            <th>Type</th>
            <th>Id</th>
            <th>Version</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody id="body">
        {% for obs in observations %}
        <tr>
            <td><input type='checkbox' id='Observation/{{ obs.id }}'></input></td>
            <td>Observation</td>
            <td><a href="/fhir/Observation/{{ obs.id }}">{{ obs.id }}</a></td>
            <td>{{ obs.version_id }}</td>
            <td>{{ obs.last_updated }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
function toggleAll(event) {
    let checkBox = event.target;
    let state = checkBox.checked;
    let body = document.getElementById('body');
    for (let row of body.children) {
        let td = row.children[0];
        let input = td.children[0];
        input.checked = state;
    }
}

function deleteSelected() {
    if (window.confirm('All selected resources will be deleted!')) {
        let body = document.getElementById('body');
        let ids = "";
        let resourceName = ""
        for (let row of body.children) {
            let td = row.children[0];
            let input = td.children[0];
            if (input.checked) {
                let inputId = input.id;
                let idParts = inputId.split('/');
                if (resourceName == "")
                    resourceName = idParts[0];
                else
                    ids += ",";
                ids += idParts[1];
            }
        }

        if (ids.length > 0) {
            fetch(`/fhir/${resourceName}?_id=${ids}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'text/html'
                },
                body: ''
            })
            .then((response) => response.text())
            .then((data) => {
                window.location.assign(window.location);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    }
}

function deleteAll() {
    if (window.confirm('All resources of this search result will be deleted!')) {
        fetch(window.location, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'text/html'
            },
            body: ''
        })
        .then((response) => response.text())
        .then((data) => {
            window.location.assign(window.location);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
}
</script>
{% else %}
<p>No observations found.</p>
{% endif %}
{% endblock %}
